.memory-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Light gray background */
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.card {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  background-color: #fff; /* White card background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .front {
  background-color: #f0f0f0; /* Light gray front */
}

.card .back {
  background-size: cover;
  transform: rotateY(180deg);
  background-color: #e0e0e0; /* Light gray back */
}

.card.flipped {
  transform: rotateY(180deg);
}
